/* Estilos para el contenedor principal */
.app-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: auto 5fr; /* Sidebar y router-outlet */
    grid-template-rows: auto 1fr; /* Navbar arriba, resto del contenido abajo */
    grid-template-areas: 
        "sidebar header"
        "main main";
}

/* Navbar en la parte superior */
.header-container {
    grid-area: header;
    background-color: #333; /* Color de fondo del navbar */
    color: #fff;
    width: 100%;
    height: 10vh;
    position:fixed;
    padding-left: 30px;
}

/* Sidebar a la izquierda */
.sidebar-container {
    position: static;
    grid-area: sidebar;
    background-color: #555; /* Color de fondo del sidebar */
    color: #fff;
}

/* Área principal para el router-outlet */
.main-container {
    margin-top: 57px;
    grid-area: main;
    background-color: #f4f4f4; /* Fondo para la sección principal */
    padding: 2rem;
    overflow-y: auto;
    width: 100%;
}

@media(width < 500px){

    .app-container {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: 1fr; /* Sidebar y router-outlet */
        grid-template-rows: 1fr; /* Navbar arriba, resto del contenido abajo */
        grid-template-areas: 
            "header"
            "main";
    }
    

    .both {
        
        position: absolute;
        width: 100vw;
    }

    .sidebar-container {
        position:fixed;
        grid-area: sidebar;
        background-color: #555; /* Color de fondo del sidebar */
        color: #fff;
        height: 10vh;
        z-index: 10;
    }

    .header-container {
        grid-area: header;
        background-color: #333; /* Color de fondo del navbar */
        color: #fff;
        width: 76vw;
        height: 10vh;
        position:fixed;
        right: 0;
        padding-left: 30px;
    }
    

}