.header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #FFF;
    position: static;
    width: 90%;
    box-sizing: border-box;
    min-height: 57px;
  }
  
  .header-title {
    margin: 0;
  }
  .header-nav {
    display: flex;
    gap: 1rem;
  }
  .nav-link {
    color: #FFF;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  /* Media queries */
  
  @media (max-width: 500px) {
    .header {
      width: 100%;
    }

  }
  
  @media (min-width: 500px) and (max-width: 700px) {
    .header {
      width: 78%;
    }
  }
  
  @media (min-width: 700px) and (max-width: 1000px) {
    .header {
      width: 80%;
    }
  }
  