<div class="content" tabindex="0" (focus)="onContentFocus()">

  <div class="btns-directives">

    <input type="text" style="border: solid;" >
    <div>
      <app-button class="btn" appTapindex tabIndex="0" tabindex="-1">Ctrl+d con directiva y botón personalizado</app-button>
    </div>
    <app-button class="btn" appTapindex tabIndex="1" tabindex="-1">Ctrl+d con directiva y botón personalizado</app-button>
    <app-button class="btn" appTapindex tabIndex="2" tabindex="-1">Ctrl+d con directiva y botón personalizado</app-button>
    <app-button class="btn" appTapindex tabIndex="3" tabindex="-1">Ctrl+d con directiva y botón personalizado</app-button>
    <app-button class="btn" appTapindex tabIndex="4" tabindex="-1">Ctrl+d con directiva y botón personalizado</app-button>

    <!-- <button class="btn" (click)="btnCtrlD()" appKeyboardShortcut KeyboardShortcut="ctrl+d" [shortcutAction]="btnCtrlD" #btn>Ctrl+d con directiva</button> -->
    <!-- <button class="btn" (click)="btnCtrlAltC()" appKeyboardShortcut KeyboardShortcut="ctrl+alt+c" [shortcutAction]="btnCtrlAltC" #btn>Ctrl+alt+c con directiva</button> -->
  </div>
  <div class="btns">
    <button class="btn" #btnctrla>ctrl+a</button>
    <button class="btn" #btnctrlb>ctrl+b</button>
  </div>

</div>
