/* Estilo general de la barra lateral */
.sidebar {
    width: 100%; /* Ancho comprimido */
    max-width: 300px; /* Ancho máximo del sidebar */
    height: 100vh;
    background-color: #333;
    color: #fff;
    overflow: hidden;
    position: sticky;
    top: 0; /* Fijar el sidebar al borde superior */
    box-sizing: border-box;
}


/* Expande la barra lateral al hacer hover */


/* Estilos de los enlaces */
.sidebar-title {
    padding: 20px;
    font-size: 18px;
    text-align: center;
    margin: 0;/* Ocultar título en vista comprimida */
    min-height: 68px;

    :hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}


.sidebar-nav {
    text-align: center;
    display: flex;
    flex-direction: column;
   
}

.nav-link {
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    background-color: #555;
}

@media(max-width: 500px) {
    .sidebar {
        height: 10vh;
        min-height: 57px;
        position: sticky;

        .sidebar-nav {
            display: none;
        }
    }

    .sidebar:hover {
        max-width: 300px; /* Ancho expandido */
    }
}

@media (width > 500px){
    .sidebar:hover {
        width: 200px; /* Ancho expandido */
    }
}