<div class="content">

  <div class="btns-directives">

<app-button class="btn" appKeyboardShortcut KeyboardShortcut="ctrl+d" [shortcutAction]="btnCtrlD">Ctrl+d con directiva y botón personalizado</app-button>
<app-button class="btn">Ctrl+d con directiva y botón personalizado</app-button>
<app-button class="btn">Ctrl+d con directiva y botón personalizado</app-button>
<app-button class="btn">Ctrl+d con directiva y botón personalizado</app-button>
<app-button class="btn">Ctrl+d con directiva y botón personalizado</app-button>

    <!-- <button class="btn" (click)="btnCtrlD()" appKeyboardShortcut KeyboardShortcut="ctrl+d" [shortcutAction]="btnCtrlD" #btn>Ctrl+d con directiva</button> -->
    <!-- <button class="btn" (click)="btnCtrlAltC()" appKeyboardShortcut KeyboardShortcut="ctrl+alt+c" [shortcutAction]="btnCtrlAltC" #btn>Ctrl+alt+c con directiva</button> -->
  </div>
  <div class="btns">
    <button class="btn" (click)="btnCtrlA()" #btnctrla>ctrl+a</button>
    <button class="btn" (click)="btnCtrlB()" #btnctrlb>ctrl+b</button>
  </div>

</div>
